
@{
    ViewData["Title"] = "Index";
}

<h3 align="center">Welcome to INUCY<sup>αlpha</sup></h3>

<hr/>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="jumbotron">
                <img src="images/Test-1.png"/>
            </div>
        </div>
        <div class="col-md-4">
            <div class="jumbotron">
                <h5>Its INUCY</h5>
                <p>It's a goodest cmdb in the world, developed lonely men</p>
            </div>
        </div>
    </div>
</div>

        
    


